.hidden {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  background: rgba(222, 255, 221, 0.95);
  border: 1px solid #777777;
  padding: 10px;
  z-index: 100;
  font-size: 1.3rem;
}
.hidden h2 {
  font-weight: 100;
  margin: 0;
  font-size: 1.2rem;
}

.form-row {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-dubble {
  display: flex;
  gap: 10px;
}

#cart {
  border: 1px solid #333;
  min-height: 40px;
  margin: 20px 0 20px;
  padding: 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cart p {
  margin: 5px;
  font-size: 1.3rem;
}

.cartTotal {
  transition: all 0.3s ease-in-out;
}

.highlight-price {
  font-size: 1.5rem;
  color: olivedrab;
}

.amount-row {
  width: 100%;
}
.amount-row input {
  max-width: 100%;
}
.amount-row button {
  max-width: 100%;
}

.buy-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-row button.buy {
  width: 100%;
}

.orderCartBtn {
  max-width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  margin-top: 15px;
}