#hero {
  background: #f0fcef;
  min-height: 200px;
  padding: 0 20px 130px;
  margin-bottom: 20px;
}
#hero h1 {
  font-weight: 100;
  font-size: 2rem;
}
#hero p {
  font-size: 1.6rem;
}
#hero a {
  font-size: 1.5rem;
  color: black;
}
#hero a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #hero {
    background: #f0fcef;
    min-height: 200px;
    padding: 0 20px 130px;
    margin-bottom: 20px;
  }
  #hero h1 {
    font-weight: 100;
    font-size: 2.5rem;
  }
  #hero p {
    font-size: 1.8rem;
  }
  #hero a {
    font-size: 1.5rem;
    color: black;
  }
  #hero a:hover {
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  #hero {
    background: #f0fcef;
    min-height: 200px;
    padding: 0 20px 130px;
    margin-bottom: 20px;
  }
  #hero h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  #hero p {
    font-size: 2rem;
  }
  #hero a {
    font-size: 1.5rem;
    color: black;
  }
  #hero a:hover {
    text-decoration: none;
  }
}