/* START MAIN */
.product-img {
  width: 240px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.products-hide {
  display: none;
}

.list {
  display: none;
}

.list.open {
  display: block;
}

aside {
  display: flex;
  flex-direction: column;
}

#productsList article {
  list-style: none;
  border: 1px solid #8c8383;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
#productsList article h4 {
  font-weight: 100;
}

/* Categories START */
.img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 6px 0;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: #333;
}

@media screen and (min-width: 768px) {
  #productsList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
  #productsList h4 {
    font-weight: 100;
  }
  .hidden {
    max-width: 50%;
    margin-bottom: 10px;
  }
  .amount-row {
    width: 100%;
  }
  .amount-row button {
    max-width: 100%;
  }
  .buy-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buy-row button.buy {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #productsList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
  #productsList h4 {
    font-weight: 100;
  }
  .amount-row {
    width: 100%;
  }
  .amount-row input {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .amount-row button {
    max-width: 100%;
  }
  .buy-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buy-row button.buy {
    width: 100%;
  }
}