#order-info {
    h2 {
        font-weight: 100;
        margin: 10px 0 5px;
    }

    summary {
        font-size: 1.4rem;

    }

    ul {
        margin: 5px;
    }

    li {
        font-size: 1.2rem;
    }

    margin-bottom: 20px;
}