   body {
       padding: 0 15px;
   }

   html,
   body {
       height: 100%;
       display: flex;
flex-direction: column;   }

   main {
       display: block;
   }



    /* START - Input */
    button {
      padding: 5px;
      margin: 5px;
    }

    input {
      border: 1px solid #999;
      border-radius: 4px;
    }

    /* END - Input */
    /* 

    
    #checkoutForm {
      display: none;
    }
 */
   
  